# NyaaMission config file
#
# copy it to config.py and tune it

# NyaaTorrent server config
#
# host
#     URL of the server
NYAA = {
        'host': 'http://www.nyaa.se',
        }

# Transmission server config
#
# host
#     URL of the Transmission server, RPC API
#
# ssl_verify
#     check the SSL certificate of the server
#     default to True
#     optionnal parameter
TRANSMISSION = {
        'host': 'https://transmission.server/transmission/rpc',
        # 'ssl_verify': False,
        }

# loglevel
LOGS = 'INFO'

# list of series
#
# directory
#     local directory of the downloaded files
#
# directory_server
#     directory of the dowloaded files as seen by Transmission
#     default to the local directory
#     optionnal
#
# file_pattern
#     pattern of the name of the file to download
#     the pattern helps to select the right anime from the right team,
#     make it as precise as you can (usually, using the file name entirely is fine)
#     you can tell the place of the episode number with {number}
#     if the file has unpredictible parts for each episode, you can tell such
#     places with {garbage}
#     {number} and {garbage} are converted to "*" when querrying NyaaTorrent
#
#     examples:
#     "[BakedFish] Anne Happy♪ - {number} [720p][AAC].mp4",
#     "[DameDesuYo] Koutetsujou no Kabaneri - {number} (1280x720 10bit AAC) [{garbage}].mkv",
#
# number_format
#     format of the episode number
#     set to "02" by default, that is two digits at least, filled with 0
#     the 'syntax' comes from the Python format mini-language
#     optionnal argument
#
# max_ahead
#     amount of episodes to get at once
#     defined to avoid an overload of the connexion
#     set to 5 by default
#     optionnal argument
SERIES = (
        {
            'directory': "/path/to/your/directory",
            # 'directory_server': "/path/to/the/directory/on/the/server,
            'file_pattern': "Your anime {number} ({garbage})",
            # 'number_format': '02',
            # 'max_ahead': 5,
            },
        )
